<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhpEntityGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PhpEntityGenerator.Properties.Settings>
            <setting name="s_Font" serializeAs="String">
                <value>Courier New, 12pt, style=Bold</value>
            </setting>
            <setting name="s_BGC" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="s_FGC" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="s_FieldTemplate" serializeAs="String">
                <value>	/**
	 * @Column({col_def})
	 */
	protected ${name};

</value>
            </setting>
            <setting name="s_GetterTemplate" serializeAs="String">
                <value>	/**
	 * Get the value of {name}
	 */
	public function get{proper_name}()
	{
		return $this-&gt;{name};
	}

</value>
            </setting>
            <setting name="s_SetterTemplate" serializeAs="String">
                <value>	/**
	 * Set the value of {name}
	 * 
	 * @return self
	 */
	public function set{proper_name}(${name})
	{
		$this-&gt;updateProperty('{name}', ${name});
		
		return $this;
	}

</value>
            </setting>
        </PhpEntityGenerator.Properties.Settings>
    </userSettings>
</configuration>